[Unit]
Description=Kogaion text installer setup
After=kogaionlive.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/libexec/installer-text.sh

[Install]
WantedBy=multi-user.target
